* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-body: white;
  --text-color: #323238;
  --bg-sound: #E1E1E6;
  --enable-button: #02799D;
  --svg-fill: #323238;
  --svg-enable: white; 
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: var(--bg-body);
}

header {
  width: 95vw;
  position: absolute;
  display: flex;
  align-items: center;
  margin: 3rem 3rem;
  gap: 2rem;
}

header h1 {
  color: var(--text-color);
  font-size: 2.3rem;
}

#theme-mode {
  position: absolute;
  right: 0;
  transition: .8s all;
}

#btn-mobile {
  display: none;
}

main {  
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "timer sounds"
    "timer sounds";
}

.timer { grid-area: timer; }
.sounds { grid-area: sounds; }

.timer h1 {
  font-weight: 500;
  font-size: clamp(7rem, 7rem + 5vw, 12.6rem);
  line-height: 14.8rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(0rem, 0rem + 1vw, 4.8rem);
}

.controls button {
  padding: 0 2rem;
  transition: .1s;
}

.controls button:hover {
  transform: scale(0.98);
}

.controls button:active {
  transform: scale(0.95);
}

.sounds {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sounds-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.sounds-button button {
  width: 13.8rem;
  height: 15.2rem;
  background: var(--bg-sound);
  border-radius: 24px;
  transition: .2s ;
}

.sounds-button button:active {
  transform: scale(0.95);
}

.enable {
  background-color: var(--enable-button) !important;
}

svg path {
  fill: var(--svg-fill);
}

.enable svg path {
  fill: var(--svg-enable);
}

#theme-mode:hover {
  transform: scale(0.98);
  transform: rotate(90deg);
}

#theme-mode:focus {
  transform: scale(0.95);
  transform: rotate(-90deg);
}

.controls svg path {
  fill: var(--svg-fill);
}
